{% extends 'base.html' %}

{% block js %}
<script src="{{STATIC_URL}}js/barcode_generate.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div id="content" role="main">
      <section class="section alt" id="promo">
  <div class="container">
    <div class="carousel slide" id="myCarousel">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <div class="row-fluid">
            <div class="span7">
              <div class="hero-unit">
                <h1>Go ahead, make a barcode.</h1>
                <p>Just enter an <strong>Amazon ASIN</strong> and we'll take care of the nitty gritty.</p>
              </div>
                <div class="well span11">

                <h3>
                  Generate a barcode from an ASIN
                </h3>
                <p>
                  <form class="form-horizontal barcode_generator" data-div-update="#output" id="asin-form" action="" method="post">
                    {% csrf_token %}
                    
                    <div class="control-group">
                        {% for field in product_form %}
                        <label class="control-label" for="id_company">{{ field.label }}</label>                        
                        <div class="controls">
                            {{ field.errors }}
                            {{ field }}
                            <span class="help-block">{{ field.help_text }}</span>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="form-actions">
                        <button data-loading-text="Generating..." type="submit" class="btn btn-inverse barcode_generator_submit">Generate Barcode</button>
                    </div>
                </form> 
                </p>

            </div>
            </div>
            <div class="span5">
                <div class="well" id="output">
                    Enter an Amazon ASIN over there in that box and then check
                    here after you click that black button.
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <article class="blog-post">
          <header class="blog-header">
            <h2>
              Need help?
              <small>we'll try to answer your questions...</small>
            </h2>
          </header>
          <p>
            We're working on making this site fully featured, but for now you'll
            just have to use what we've made so far. Until the site is done,
            <strong>deal with it.</strong>
          </p>
          <div class="accordion" id="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#qOne">
                  <strong>1. Why do I sometimes get an error?</strong>
                </a>
              </div>
              <div class="accordion-body collapse" id="qOne">
                <div class="accordion-inner">
                  Several reasons. You might have entered an invalid ASIN. The ASIN might not
                  have a UPC or EAN associated with it. Or the Interwebs are broken and we
                  can't get to Amazon's servers.
                </div>
              </div>
            </div>
            
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#qTwo">
                  <strong>2. I have a suggestion. How do I let you know?</strong>
                </a>
              </div>
              <div class="accordion-body collapse" id="qTwo">
                <div class="accordion-inner">
                  I would love to hear your idea or suggestion! <a href="mailto:derek@disflux.com?subject=One Milligram Suggestion">Shoot me an email</a>.
                </div>
              </div>
            </div>
            
              <div class="accordion-body collapse" id="qFour">
                <div class="accordion-inner">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    </div>
</section>

</div>
{% endblock %}
