{% extends 'base.html' %}
{% load thumbnail %}
{% block js %}
<script src="{{STATIC_URL}}js/barcode_generate.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div id="content" role="main">
      <section class="section alt" id="promo">
  <div class="container">
    <div class="carousel slide" id="myCarousel">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <div class="row-fluid">
            <div class="span7">
              <div class="hero-unit">
                <h1>Go ahead, make a barcode.</h1>
                <p>Just enter an <strong>Amazon ASIN</strong> and we'll take care of the nitty gritty.</p>
              </div>
                <div class="well span11">

                <h3>
                  Generate a barcode from an ASIN
                </h3>
                <p>
                  <form class="form-horizontal barcode_generator" data-div-update="#output" id="asin-form" action="" method="post">
                    {% csrf_token %}
                    
                    <div class="control-group">
                        {% for field in product_form %}
                        <label class="control-label" for="id_company">{{ field.label }}</label>                        
                        <div class="controls">
                            {{ field.errors }}
                            {{ field }}
                            <span class="help-block">{{ field.help_text }}</span>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="form-actions">
                        <button data-loading-text="Generating..." type="submit" class="btn btn-inverse barcode_generator_submit">Generate Barcode</button>
                    </div>
                </form> 
                </p>

            </div>
            </div>
            <div class="span5">
                <div class="well" id="output">
                    Enter an Amazon ASIN over there in that box and then check
                    here after you click that black button.
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="page-header thumbnail-filters">
      <h1>
        Recent Barcodes
      </h1>
    </div>
    <ul class="thumbnails bordered thumbnail-list">
    {% for product in recents %}
      <li class="span4 filter-people">
        <a href="{{ product.amazon_url }}">
          <figure class="thumbnail-figure">
            {% if product.image_url %}
            {% thumbnail product.image_url "600x400" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ product.onemg }} image" />
            {% endthumbnail %}
            {% endif %}
            <figcaption class="thumbnail-title">
              <p>
                <span><img src="{{ product.generate_barcode.image.url }}" alt="{{ product.onemg }} image" /></span>
              </p>
              <p>
                <span>{{ product.description }}</span>
              </p>
            </figcaption>
          </figure>
        </a>
      </li>
      {% endfor %}
      
    </ul>
  </div>
</section>
<section class="section alt">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <article class="blog-post">
          <header class="blog-header">
            <h2>
              Need help?
              <small>we'll try to answer your questions...</small>
            </h2>
          </header>
          <p>
            We're working on making this site fully featured, but for now you'll
            just have to use what we've made so far. Until the site is done,
            <strong>deal with it.</strong>
          </p>
          <div class="accordion" id="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#qOne">
                  <strong>1. Why do I sometimes get an error?</strong>
                </a>
              </div>
              <div class="accordion-body collapse" id="qOne">
                <div class="accordion-inner">
                  Several reasons. You might have entered an invalid ASIN. The ASIN might not
                  have a UPC or EAN associated with it. Or the Interwebs are broken and we
                  can't get to Amazon's servers.
                </div>
              </div>
            </div>
            
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#qTwo">
                  <strong>2. I have a suggestion. How do I let you know?</strong>
                </a>
              </div>
              <div class="accordion-body collapse" id="qTwo">
                <div class="accordion-inner">
                  I would love to hear your idea or suggestion! <a href="mailto:derek@disflux.com?subject=One Milligram Suggestion">Shoot me an email</a>.
                </div>
              </div>
            </div>
            
          </div>
        </article>
      </div>
    </div>
    </div>
</section>

</div>
{% endblock %}
